body{
  color: #8395a7;
  text-align: center;
}

.clock{
  font-size: 100px;
  margin-top: 200px;
  margin-bottom: 60px;
}


.nameForm{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.nameInput{

  all:unset;
  width: 400px;
  height: 60px;
}


.HIDDEN_CN{
  display: none;
}
